<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fsryan.tools.loggingtestapp">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- TODO: make the fsddsec point to a config xml file -->
        <meta-data android:name="fsddsec" android:value="${testapp.datadogtoken}" />
        <meta-data android:name="fsdd-network-info-enabled" android:value="true" />
        <meta-data android:name="fsdd-logcat-logs-enabled" android:value="false" />
        <meta-data android:name="fsdd-datadog-logs-enabled" android:value="true" />
        <meta-data android:name="fsdd-bundle-with-trace-enabled" android:value="true" />
        <meta-data android:name="fsdd-sample-rate" android:value="1.0" />
        <meta-data android:name="fsdd-logger-name-append-thread-name" android:value="true" />
    </application>
</manifest>